img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

img.small1 {
    width: 10%;
}

img.small2 {
    width: 2%;
}

.image-container {
    display: flex;
    justify-content: space-between;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

.container {
    display: flex;
    align-items: center;
    position: relative;
}

.class2 {
    margin-left: 10px;
}

.class2 p:first-child {
    position: absolute;
    transform: translateX(-100%);
    white-space: nowrap;
}

.class3 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.class3 p {
    margin-right: 10px;
}

/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} */

.class1 {
    text-align: center;
}
